@import '../func/color.sass'

.wrapper
    display: grid

.columns
    grid-row: 1

.rows
    grid-column: 1

.navButton
    text-align: left
    height: 50px
    background-color: $trans
    border: 0
    color: $black
    cursor: pointer
    width: 100%
    padding-left: 15%
    font-size: 25px
    white-space: nowrap
    overflow: hidden
    .description
        font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif
        display: inline-table
        white-space: nowrap
        overflow: hidden
        padding-left: 5px
        font-size: 20px
        font-weight: bold
        color: $trans
    &.important
        height: 150px
        font-size: 40px

.navButton:hover
    background-color: $yellow
    padding-left: 3%
    font-size: 20px
    .description
        color: $black