@import '../func/color.sass'

.mailCon
    font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif
    font-size: 18px

.dot
    font-size: 10px
    
.subject
    font-size: 26px
    cursor: pointer
    font-weight: bold
    &.seen
        font-weight: normal
        color: $darkGray

.pority-tag
    font-size: 20px
    cursor: help
    &.red
        color: $red
    &.yellow
        color: $yellow
    &.green
        color: $olive

.smaller
    font-size: 10px
    color: $blue
    cursor: help
    user-select: none
    text-decoration: underline

.moreinfo-button
    font-size: 15px
    font-weight: bold
    font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif
    transition: 0.3s all ease
    cursor: pointer
    border: 0
    background-color: $lime
    width: 100%
    color: $black

.moreinfo-button:hover
    background-color: $yellow

.info
    font-size: 15px
    transition: 0.8s all ease
    height: auto
    overflow: hidden
    &.more
        max-height: 150px
    &.less
        max-height: 0

.received
    width: 100%
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.flag-element
    text-decoration: underline
    cursor: help

.targets
    input
        width: 90%
        border: 0
        border-bottom: 1px solid $gray
    div
        text-align: center
        border-left: 1px solid $gray
        width: 10%
        display: inline-block

.editor
    margin-top: 10px
    border: 1px solid $gray
    button
        border: 0
        background-color: $lime
        width: 50px
        height: 50px
        cursor: pointer
    button:hover
        background-color: $yellow
    button:active
        color: $white
    .inner-editor