@import '../func/color.sass'

.mailCon
    font-family: $font
    font-size: 18px

.dot
    font-size: 10px
    
.subject
    font-size: 26px
    cursor: pointer
    font-weight: bold
    &.seen
        font-weight: normal
        color: $darkGray

.pority-tag
    font-size: 20px
    cursor: help
    &.red
        color: $red
    &.yellow
        color: $yellow
    &.green
        color: $olive

.smaller
    font-size: 10px
    color: $blue
    cursor: help
    user-select: none
    text-decoration: underline

.moreinfo-button
    transition: 0.3s background-color ease-in-out
    font-size: 15px
    font-weight: bold
    font-family: $font
    outline: none
    box-shadow: none
    cursor: pointer
    border: 0
    background-color: $lime
    width: 100%
    color: $black

.moreinfo-button:hover
    background-color: $yellow

.info
    font-size: 15px
    transition: max-height 0.8s ease-in-out
    height: auto
    overflow: hidden
    &.more
        max-height: 150px
    &.less
        max-height: 0

.received
    width: 100%
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.flag-element
    text-decoration: underline
    cursor: help

.targets
    input
        width: 90%
        border: 0
        border-bottom: 1px solid $gray
        box-shadow: none
        outline: none
        font-family: $font
    div
        text-align: center
        border-left: 1px solid $gray
        width: 10%
        display: inline-block

.editor
    margin-top: 20px
    margin-bottom: 30px
    border: 1px solid $gray
    button
        border: 0
        background-color: $lime
        width: 50px
        height: 50px
        cursor: pointer
        outline: none
        box-shadow: none
        &.bigger
            width: 100px
    button:hover
        background-color: $yellow
    button:active
        color: $white
    .inner-editor
        font-family: $font
        border-top: 1px solid $gray
        padding: 15px

.under-reply
    border-top: 1px solid $gray

.before-reply
    font-family: $font
    border-bottom: 1px solid $gray

.after-reply
    font-family: $font
    border-top: 1px solid $gray
    border-bottom: 1px solid $gray

.email-content
    display: inline-block
    word-wrap: break-word
    word-break: normal

.menu-topper
    font-family: $font
    background-color: $navy
    color: $white
    font-size: 26px