@import '../func/color.sass'

*
    transition: 0.3s all ease

html
    height: 100%
    body
        height: 100%
        margin: 0

.entire
    height: 100%
    margin: 0
    padding: 0

.navContent
    background-color: $lime

.mainContent
    padding-top: 20px
    padding-left: 6px
    padding-right: 6px